th{
	font-size: 24px;
	text-align: left;
}
table{
	background-color: black;
}
#green{
	color: green;
}
#grey{
	color: grey;
}
#red{
	color: red;
}
#white{
	color: white;
}
#yellow{
	color: yellow;
}
#orange{
	color: orange;
}